.title {
    padding-top: 100px;
    text-align: center;
    color: rgb(255, 44, 44);
    text-shadow: 2px 2px 2px white;
  }
  .card1 {
    display: block;
    margin: auto;
    padding: 20px;
  }
  .head1 {
    box-shadow: 5px 5px 5px rgb(66, 66, 72);
    border: 1px solid rgb(150, 150, 255);
    width: 600px;
    height: 320px;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .viewdata{
    margin-bottom: 30px;
  }
  .pay {
    background-color: rgb(17, 139, 17);
    color: white;
    width: 100px;
    font-size: 1.2rem;
  }
  .flex2 {
    align-items: center;
  }
  