.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    background-color: rgb(139, 139, 255);
    color: white;
    padding: 20px;
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
  }
  li {
    margin-top: 5px;
  }
  b {
    color: rgb(47, 47, 47);
    margin-bottom: 10px;
  }
  