@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.find {
  padding-top: 80px;
  color: rgb(255, 93, 93);
  text-shadow: 2px 2px 2px rgb(93, 93, 93);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@media screen and (max-width: 1100px) {
  .find {
    padding-top: 150px;
    color: rgb(255, 93, 93);
    text-shadow: 2px 2px 2px rgb(93, 93, 93);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
}
